.site-grid {
  width: 100%;
  max-width: $size__site-main;
  margin: 0 auto;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "content" "footer";
}

.site-grid.template-fixed-width,
.site-grid.template-boxed {
  max-width: 1300px;
}
.site-grid-item {
  /* padding: 10px 0; */
}

#masthead {
  grid-area: header;
}

#content {
  grid-area: content;
}

#colophon {
  grid-area: footer;
}
