.grid {
  display: grid;
  grid-gap: $gap_small;
  margin-bottom: 1em;
}

.grid-item {
  padding: $grid_item_padding;
  background-color: $grid_item_bgcolor_odd;
}
.grid-item:nth-child(even) {
  background-color: $grid_item_bgcolor_even;
}

// Loops to enumerate the classes for grid items
@for $i from 12 through 1 {
  .grid.columns-#{$i} {
    grid-template-columns: repeat($i, 1fr ) ;
  }
}
